[cmdk-overlay] {
  background-color: rgba(0, 0, 0, 0.33);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

[cmdk-root] {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 75vh;
  max-height: 75vh;
  background: var(--expo-theme-background-default);
  border-radius: 10px;
  box-shadow: var(--expo-theme-shadows-sm);
  width: 40vw;
  min-width: 680px;
  border: 1px solid var(--expo-theme-border-default);
  z-index: 1001;
}

[cmdk-root] kbd, .cmdk-trigger kbd {
  font-size: 0.8125rem;
  line-height: 19px;
  letter-spacing: -0.003rem;
  background-color: var(--expo-theme-background-subtle);
  border: 1px solid var(--expo-theme-border-default);
  white-space: pre-wrap;
  font-weight: 500;
  color: var(--expo-theme-text-secondary);
  padding: 0 4px;
  box-shadow: 0 0.1rem 0 1px var(--expo-theme-border-default);
  border-radius: 4px;
  position: relative;
  display: inline-flex;
  min-width: 22px;
  justify-content: center;
  top: -1px;
}

[cmdk-input] {
  appearance: none;
  background: transparent;
  color: var(--expo-theme-text-default);
  flex: 1;
  font: inherit;
  outline: none;
  padding: 0 40px;
  min-height: 46px;
  margin: 16px 0 12px;
  border: 1px solid var(--expo-theme-border-default);
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: var(--expo-theme-shadows-xs);
  position: relative;
  z-index: 100;
}

[cmdk-input]::placeholder {
  color: var(--expo-theme-icon-secondary);
}

[cmdk-item] {
  content-visibility: auto;
  cursor: pointer;
  min-height: 52px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px 12px;
  color: var(--expo-theme-text-default);
  user-select: none;
  will-change: background, color;
  transition: all 150ms ease;
  transition-property: none;
}

[cmdk-item][aria-selected='true'],
[cmdk-item]:active {
  background: var(--expo-theme-background-element);
  color: var(--expo-theme-text-default);
}

[cmdk-item][aria-disabled='true'] {
  color: var(--expo-theme-icon-secondary);
  cursor: not-allowed;
}

[cmdk-item] + [cmdk-item] {
  margin-top: 4px;
}

[cmdk-item] mark {
  color: var(--blue-12);
  background: var(--blue-4);
  border-radius: 2px;
  opacity: 0.85;
}

[cmdk-list], .result-container {
  height: calc(75vh - 50px - 54px - 20px);
  max-height: calc(75vh - 50px - 54px - 20px);
  overflow: auto;
  overscroll-behavior: contain;
  padding: 0 16px 12px;
  margin: 1px 0;
}

[cmdk-separator] {
  height: 1px;
  width: 100%;
  background: var(--expo-theme-border-default);
  margin: 4px 0;
}

[cmdk-group-heading] {
  font-size: 0.75rem;
  line-height: 1.58;
  user-select: none;
  color: var(--expo-theme-text-secondary);
  padding: 16px 8px 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 2px;
}

[cmdk-empty] {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
  padding: 32px 0;
}

html.dark-theme [cmdk-item] mark {
  background: var(--blue-6);
}

html.dark-theme [cmdk-item][data-selected='true'] mark {
  background: var(--blue-7);
}

[cmdk-list]::-webkit-scrollbar, .result-container::-webkit-scrollbar {
  width: 6px;
}

[cmdk-list]::-webkit-scrollbar-track, .result-container::-webkit-scrollbar-track {
  background-color: transparent;
  cursor: pointer;
}

[cmdk-list]::-webkit-scrollbar-thumb, .result-container::-webkit-scrollbar-thumb {
  background-color: var(--slate-5);
  border-radius: 10px;
}

[cmdk-list]::-webkit-scrollbar-thumb:hover, .result-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--slate-6);
}

/* Mobile */

@media screen and (max-width: 788px) {
  [cmdk-root] {
    top: 50%;
    width: 96vw;
    min-width: 96vw;
    min-height: 96dvh;
    max-height: 96dvh;
  }
}

@media screen and (max-width: 788px) {
  [cmdk-list], .result-container {
    height: calc(96dvh - 50px - 108px - 20px);
    max-height: calc(96dvh - 50px - 108px - 20px);
  }
}

/* Mode tabs */

.tabs-container {
  box-shadow: inset 0 0 4px var(--expo-theme-background-hover);
}

html.dark-theme .tabs-container {
  box-shadow: inset 0 0 4px var(--expo-theme-background-screen);
}

.tabs-container-ai {
  &:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(7px);
    opacity: 0.15;
    background: linear-gradient(
      45deg,
      #fb0094,
      #0000ff,
      #00ff00,
      #ffff00,
      #ff0000,
      #fb0094,
      #0000ff,
      #00ff00,
      #ffff00,
      #ff0000
    );
    background-size: 400%;
    z-index: -1;
    animation: rainbow 30s linear infinite;
  }
}

html.dark-theme .tabs-container-ai {
  &:before {
    opacity: 0.13;
  }
}

.mode-tab {
  box-shadow: inset 0 0 14px var(--slate-11);
}

html.dark-theme .mode-tab {
  box-shadow: inset 0 0 14px var(--slate-9);
}

@keyframes rainbow {
  0% {
    background-position: 0 0;
  }
  50.01% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* AI prompt */

.prompt-result {
  > * {
    @apply mb-2.5 last:mb-0;
  }

  h2, h3, h4 {
    @apply heading-base mt-3.5;
  }

  h5, h6 {
    @apply heading-sm mt-3.5;
  }

  code {
    @apply bg-subtle border border-secondary rounded-sm px-0.5;
  }

  pre {
    @apply text-2xs bg-screen border border-default shadow-xs p-3 rounded-md whitespace-pre-wrap break-words;

    code {
      @apply p-0 border-0 bg-transparent;
    }
  }

  ul, ol {
    @apply marker:text-secondary pl-5;

    * {
      @apply mb-2 last:mb-0;
    }
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  hr {
    @apply border-secondary my-3;
  }

  table {
    @apply border border-default;

    thead, tr {
      @apply border-b border-secondary last:border-b-0;
    }

    th {
      @apply bg-subtle;
    }

    th, td {
      @apply py-1.5 px-2 leading-[1.25] border-r border-secondary last:border-r-0;
    }
  }
}

/* Loaders */

@keyframes searchUIBarLoader {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}

.dots-loader span {
  opacity: 0;
  animation: fade 1s infinite;
}

.dots-loader span:nth-child(1) {
  animation-delay: 0s;
}

.dots-loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.dots-loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes fade {
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

/* Misc */

#__next[aria-hidden] {
  filter: blur(3.33px);
}

.grecaptcha-badge {
  visibility: hidden;
}
