:root {
  --expo-color-base-light-gray-000: #fdfdfe;
  --expo-color-base-light-gray-100: #f8f8fa;
  --expo-color-base-light-gray-200: #f0f1f2;
  --expo-color-base-light-gray-300: #e1e4e8;
  --expo-color-base-light-gray-400: #d1d5da;
  --expo-color-base-light-gray-500: #b7bbbf;
  --expo-color-base-light-gray-600: #6c737c;
  --expo-color-base-light-gray-700: #596068;
  --expo-color-base-light-gray-800: #464d55;
  --expo-color-base-light-gray-900: #30363c;
  --expo-color-base-light-gray-1000: #25292e;
  --expo-color-base-light-primary-000: #f9f7ff;
  --expo-color-base-light-primary-100: #ede9ff;
  --expo-color-base-light-primary-200: #d2cafd;
  --expo-color-base-light-primary-300: #a89af9;
  --expo-color-base-light-primary-400: #7f6df3;
  --expo-color-base-light-primary-500: #4630eb;
  --expo-color-base-light-primary-600: #3423ca;
  --expo-color-base-light-primary-700: #2518a9;
  --expo-color-base-light-primary-800: #190f88;
  --expo-color-base-light-primary-900: #100970;
  --expo-color-base-light-blue-100: #dbedff;
  --expo-color-base-light-blue-200: #c8e1ff;
  --expo-color-base-light-blue-300: #79b8ff;
  --expo-color-base-light-blue-400: #2188ff;
  --expo-color-base-light-blue-500: #0366d6;
  --expo-color-base-light-blue-600: #005cc5;
  --expo-color-base-light-blue-700: #044289;
  --expo-color-base-light-blue-800: #032f62;
  --expo-color-base-light-blue-900: #05264c;
  --expo-color-base-light-green-000: #f0fff4;
  --expo-color-base-light-green-100: #dcffe4;
  --expo-color-base-light-green-200: #bef5cb;
  --expo-color-base-light-green-300: #85e89d;
  --expo-color-base-light-green-400: #34d058;
  --expo-color-base-light-green-500: #28a745;
  --expo-color-base-light-green-600: #22863a;
  --expo-color-base-light-green-700: #176f2c;
  --expo-color-base-light-green-800: #165c26;
  --expo-color-base-light-green-900: #144620;
  --expo-color-base-light-yellow-000: #fffdef;
  --expo-color-base-light-yellow-100: #fffbdd;
  --expo-color-base-light-yellow-200: #fff5b1;
  --expo-color-base-light-yellow-300: #ffea7f;
  --expo-color-base-light-yellow-400: #ffdf5d;
  --expo-color-base-light-yellow-500: #ffd33d;
  --expo-color-base-light-yellow-600: #f9c513;
  --expo-color-base-light-yellow-700: #dbab09;
  --expo-color-base-light-yellow-800: #b08800;
  --expo-color-base-light-yellow-900: #735c0f;
  --expo-color-base-light-orange-000: #fff8f2;
  --expo-color-base-light-orange-100: #ffebda;
  --expo-color-base-light-orange-200: #ffd1ac;
  --expo-color-base-light-orange-300: #ffab70;
  --expo-color-base-light-orange-400: #fb8532;
  --expo-color-base-light-orange-500: #f66a0a;
  --expo-color-base-light-orange-600: #e36209;
  --expo-color-base-light-orange-700: #d15704;
  --expo-color-base-light-orange-800: #c24e00;
  --expo-color-base-light-orange-900: #a04100;
  --expo-color-base-light-red-000: #ffeeee;
  --expo-color-base-light-red-100: #ffdcdc;
  --expo-color-base-light-red-200: #fdaeae;
  --expo-color-base-light-red-300: #f97575;
  --expo-color-base-light-red-400: #ea4a4a;
  --expo-color-base-light-red-500: #d73a3a;
  --expo-color-base-light-red-600: #cb2424;
  --expo-color-base-light-red-700: #b31d1d;
  --expo-color-base-light-red-800: #9e1e1c;
  --expo-color-base-light-red-900: #861c18;
  --expo-color-base-light-pink-000: #ffeef8;
  --expo-color-base-light-pink-100: #fedbf0;
  --expo-color-base-light-pink-200: #f9b3dd;
  --expo-color-base-light-pink-300: #f692ce;
  --expo-color-base-light-pink-400: #ec6cb9;
  --expo-color-base-light-pink-500: #ea4aaa;
  --expo-color-base-light-pink-600: #d03592;
  --expo-color-base-light-pink-700: #b93a86;
  --expo-color-base-light-pink-800: #99306f;
  --expo-color-base-light-pink-900: #6d224f;
  --expo-color-base-light-purple-000: #f5f0ff;
  --expo-color-base-light-purple-100: #e6dcfd;
  --expo-color-base-light-purple-200: #d1bcf9;
  --expo-color-base-light-purple-300: #b392f0;
  --expo-color-base-light-purple-400: #8a63d2;
  --expo-color-base-light-purple-500: #6f42c1;
  --expo-color-base-light-purple-600: #5a32a3;
  --expo-color-base-light-purple-700: #4c2888;
  --expo-color-base-light-purple-800: #3a1d6e;
  --expo-color-base-light-purple-900: #29134e;
  --expo-color-base-light-white: #ffffff;
  --expo-color-base-light-black: #1b1f23;
  --expo-color-base-dark-gray-000: #0d1117;
  --expo-color-base-dark-gray-100: #161b22;
  --expo-color-base-dark-gray-200: #21262d;
  --expo-color-base-dark-gray-300: #30363d;
  --expo-color-base-dark-gray-400: #484f58;
  --expo-color-base-dark-gray-500: #6e7681;
  --expo-color-base-dark-gray-600: #8b949e;
  --expo-color-base-dark-gray-700: #b1bac4;
  --expo-color-base-dark-gray-800: #c9d1d9;
  --expo-color-base-dark-gray-900: #f0f6fc;
  --expo-color-base-dark-gray-1000: #fdfdfe;
  --expo-color-base-dark-primary-000: #0c0752;
  --expo-color-base-dark-primary-100: #0f0869;
  --expo-color-base-dark-primary-200: #190f88;
  --expo-color-base-dark-primary-300: #2518a9;
  --expo-color-base-dark-primary-400: #3423ca;
  --expo-color-base-dark-primary-500: #4630eb;
  --expo-color-base-dark-primary-600: #7464de;
  --expo-color-base-dark-primary-700: #9c90e8;
  --expo-color-base-dark-primary-800: #c9c2f2;
  --expo-color-base-dark-primary-900: #e4e0f5;
  --expo-color-base-dark-blue-000: #051d4d;
  --expo-color-base-dark-blue-100: #0c2d6b;
  --expo-color-base-dark-blue-200: #0d419d;
  --expo-color-base-dark-blue-300: #1158c7;
  --expo-color-base-dark-blue-400: #1f6feb;
  --expo-color-base-dark-blue-500: #388bfd;
  --expo-color-base-dark-blue-600: #58a6ff;
  --expo-color-base-dark-blue-700: #79c0ff;
  --expo-color-base-dark-blue-800: #a5d6ff;
  --expo-color-base-dark-blue-900: #cae8ff;
  --expo-color-base-dark-green-000: #04260f;
  --expo-color-base-dark-green-100: #033a16;
  --expo-color-base-dark-green-200: #0f5323;
  --expo-color-base-dark-green-300: #196c2e;
  --expo-color-base-dark-green-400: #238636;
  --expo-color-base-dark-green-500: #2ea043;
  --expo-color-base-dark-green-600: #3fb950;
  --expo-color-base-dark-green-700: #56d364;
  --expo-color-base-dark-green-800: #7ee787;
  --expo-color-base-dark-green-900: #aff5b4;
  --expo-color-base-dark-yellow-000: #342400;
  --expo-color-base-dark-yellow-100: #4b3200;
  --expo-color-base-dark-yellow-200: #694600;
  --expo-color-base-dark-yellow-300: #845a06;
  --expo-color-base-dark-yellow-400: #9e6a03;
  --expo-color-base-dark-yellow-500: #bb8009;
  --expo-color-base-dark-yellow-600: #d29922;
  --expo-color-base-dark-yellow-700: #e3b341;
  --expo-color-base-dark-yellow-800: #f2cc60;
  --expo-color-base-dark-yellow-900: #f8e3a1;
  --expo-color-base-dark-orange-000: #3d1300;
  --expo-color-base-dark-orange-100: #5a1e02;
  --expo-color-base-dark-orange-200: #762d0a;
  --expo-color-base-dark-orange-300: #9b4215;
  --expo-color-base-dark-orange-400: #bd561d;
  --expo-color-base-dark-orange-500: #db6d28;
  --expo-color-base-dark-orange-600: #f0883e;
  --expo-color-base-dark-orange-700: #ffa657;
  --expo-color-base-dark-orange-800: #ffc680;
  --expo-color-base-dark-orange-900: #ffdfb6;
  --expo-color-base-dark-red-000: #490202;
  --expo-color-base-dark-red-100: #67060c;
  --expo-color-base-dark-red-200: #8e1519;
  --expo-color-base-dark-red-300: #b6231e;
  --expo-color-base-dark-red-400: #d92a2b;
  --expo-color-base-dark-red-500: #f85149;
  --expo-color-base-dark-red-600: #ff7b72;
  --expo-color-base-dark-red-700: #ffa198;
  --expo-color-base-dark-red-800: #ffc1ba;
  --expo-color-base-dark-red-900: #ffdcd7;
  --expo-color-base-dark-pink-000: #42062a;
  --expo-color-base-dark-pink-100: #5e103e;
  --expo-color-base-dark-pink-200: #7d2457;
  --expo-color-base-dark-pink-300: #9e3670;
  --expo-color-base-dark-pink-400: #bf4b8a;
  --expo-color-base-dark-pink-500: #db61a2;
  --expo-color-base-dark-pink-600: #f778ba;
  --expo-color-base-dark-pink-700: #ff9bce;
  --expo-color-base-dark-pink-800: #ffbedd;
  --expo-color-base-dark-pink-900: #ffdaec;
  --expo-color-base-dark-purple-000: #271052;
  --expo-color-base-dark-purple-100: #3c1e70;
  --expo-color-base-dark-purple-200: #553098;
  --expo-color-base-dark-purple-300: #6e40c9;
  --expo-color-base-dark-purple-400: #8957e5;
  --expo-color-base-dark-purple-500: #a371f7;
  --expo-color-base-dark-purple-600: #bc8cff;
  --expo-color-base-dark-purple-700: #d2a8ff;
  --expo-color-base-dark-purple-800: #e2c5ff;
  --expo-color-base-dark-purple-900: #eddeff;
  --expo-color-base-dark-white: #ffffff;
  --expo-color-base-dark-black: #0d1117;
  --expo-theme-background-default: var(--expo-color-base-light-white);
  --expo-theme-background-canvas: var(--expo-color-base-light-gray-000);
  --expo-theme-background-secondary: var(--expo-color-base-light-gray-100);
  --expo-theme-background-tertiary: var(--expo-color-base-light-gray-200);
  --expo-theme-background-quaternary: var(--expo-color-base-light-gray-300);
  --expo-theme-background-error: var(--expo-color-base-light-red-100);
  --expo-theme-background-warning: var(--expo-color-base-light-yellow-100);
  --expo-theme-background-success: var(--expo-color-base-light-green-100);
  --expo-theme-border-default: var(--expo-color-base-light-gray-300);
  --expo-theme-border-error: var(--expo-color-base-light-red-300);
  --expo-theme-border-warning: var(--expo-color-base-light-yellow-300);
  --expo-theme-border-success: var(--expo-color-base-light-green-300);
  --expo-theme-button-primary: var(--expo-color-base-light-primary-500);
  --expo-theme-button-secondary: var(--expo-color-base-light-gray-200);
  --expo-theme-button-tertiary: var(--expo-color-base-light-black);
  --expo-theme-icon-default: var(--expo-color-base-light-gray-700);
  --expo-theme-link-default: var(--expo-color-base-light-primary-500);
  --expo-theme-status-default: var(--expo-color-base-light-gray-500);
  --expo-theme-status-error: var(--expo-color-base-light-red-500);
  --expo-theme-status-warning: var(--expo-color-base-light-yellow-500);
  --expo-theme-status-success: var(--expo-color-base-light-green-500);
  --expo-theme-status-info: var(--expo-color-base-light-blue-500);
  --expo-theme-text-default: var(--expo-color-base-light-black);
  --expo-theme-text-secondary: var(--expo-color-base-light-gray-700);
  --expo-theme-text-error: var(--expo-color-base-light-red-600);
  --expo-theme-text-warning: var(--expo-color-base-light-yellow-900);
  --expo-theme-text-success: var(--expo-color-base-light-green-600);
  --expo-theme-code-keyword: var(--expo-color-base-light-blue-500);
  --expo-theme-code-builtin: var(--expo-color-base-light-green-600);
  --expo-theme-code-property: var(--expo-color-base-light-red-500);
  --expo-theme-code-comment: var(--expo-color-base-light-gray-600);
  --expo-theme-code-punctuation: var(--expo-color-base-light-gray-700);
  --expo-theme-code-operator: var(--expo-color-base-light-yellow-800);
  --expo-theme-code-regex: var(--expo-color-base-light-orange-600);
  --expo-theme-code-string: var(--expo-color-base-light-yellow-700);
  --expo-theme-code-before: var(--expo-color-base-light-gray-400);
  --expo-theme-highlight-accent: var(--expo-color-base-light-primary-300);
  --expo-theme-highlight-emphasis: var(--expo-color-base-light-yellow-300);
  --expo-theme-shadows-popover: 0 2px 6px rgba(0, 0, 0, 0.15);
  --expo-theme-shadows-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --expo-theme-shadows-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --expo-theme-shadows-large: 0 30px 60px rgba(0, 0, 0, 0.12);
  --expo-theme-shadows-input: 0 2px 2px 0 rgba(0, 0, 20, 0.015),
    0 0 0 1px rgba(0, 0, 20, 0.0075);
  --expo-theme-shadows-button: 0 2px 2px 0 rgba(0, 0, 20, 0.015),
    0 0 0 1px rgba(0, 0, 20, 0.0075);
}

[data-expo-theme='dark'] {
  --expo-theme-background-default: var(--expo-color-base-dark-gray-000);
  --expo-theme-background-canvas: var(--expo-color-base-dark-gray-100);
  --expo-theme-background-secondary: var(--expo-color-base-dark-gray-200);
  --expo-theme-background-tertiary: var(--expo-color-base-dark-gray-300);
  --expo-theme-background-quaternary: var(--expo-color-base-dark-gray-400);
  --expo-theme-background-error: var(--expo-color-base-dark-red-000);
  --expo-theme-background-warning: var(--expo-color-base-dark-yellow-000);
  --expo-theme-background-success: var(--expo-color-base-dark-green-000);
  --expo-theme-border-default: var(--expo-color-base-dark-gray-400);
  --expo-theme-border-error: var(--expo-color-base-dark-red-200);
  --expo-theme-border-warning: var(--expo-color-base-dark-yellow-200);
  --expo-theme-border-success: var(--expo-color-base-dark-green-200);
  --expo-theme-button-primary: var(--expo-color-base-dark-primary-500);
  --expo-theme-button-secondary: var(--expo-color-base-dark-gray-300);
  --expo-theme-button-tertiary: var(--expo-color-base-dark-gray-900);
  --expo-theme-icon-default: var(--expo-color-base-dark-gray-800);
  --expo-theme-link-default: var(--expo-color-base-dark-primary-700);
  --expo-theme-status-default: var(--expo-color-base-dark-gray-400);
  --expo-theme-status-error: var(--expo-color-base-dark-red-500);
  --expo-theme-status-warning: var(--expo-color-base-dark-yellow-500);
  --expo-theme-status-success: var(--expo-color-base-dark-green-500);
  --expo-theme-status-info: var(--expo-color-base-dark-blue-500);
  --expo-theme-text-default: var(--expo-color-base-dark-gray-800);
  --expo-theme-text-secondary: var(--expo-color-base-dark-gray-600);
  --expo-theme-text-error: var(--expo-color-base-dark-red-600);
  --expo-theme-text-warning: var(--expo-color-base-dark-yellow-900);
  --expo-theme-text-success: var(--expo-color-base-dark-green-600);
  --expo-theme-code-keyword: var(--expo-color-base-dark-blue-600);
  --expo-theme-code-builtin: var(--expo-color-base-dark-green-600);
  --expo-theme-code-property: var(--expo-color-base-dark-red-600);
  --expo-theme-code-comment: var(--expo-color-base-dark-gray-600);
  --expo-theme-code-punctuation: var(--expo-color-base-dark-gray-700);
  --expo-theme-code-operator: var(--expo-color-base-dark-yellow-800);
  --expo-theme-code-regex: var(--expo-color-base-dark-orange-600);
  --expo-theme-code-string: var(--expo-color-base-dark-yellow-700);
  --expo-theme-code-before: var(--expo-color-base-dark-gray-400);
  --expo-theme-highlight-accent: var(--expo-color-base-dark-primary-700);
  --expo-theme-highlight-emphasis: var(--expo-color-base-dark-yellow-300);
  --expo-theme-shadows-popover: 0 2px 6px rgba(0, 0, 0, 0.55);
  --expo-theme-shadows-small: 0 5px 10px rgba(0, 0, 0, 0.52);
  --expo-theme-shadows-medium: 0 8px 30px rgba(0, 0, 0, 0.52);
  --expo-theme-shadows-large: 0 30px 60px rgba(0, 0, 0, 0.52);
  --expo-theme-shadows-input: 0 2px 2px 0 rgba(0, 0, 20, 0.055),
    0 0 0 1px rgba(0, 0, 20, 0.0475);
  --expo-theme-shadows-button: 0 2px 2px 0 rgba(0, 0, 20, 0.055),
    0 0 0 1px rgba(0, 0, 20, 0.0475);
}
