@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/greenDark.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/yellowDark.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/redDark.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blueDark.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slateDark.css";

:root {
  --expo-color-white: #fff;
  --expo-color-black: #000;

  /* Colors */
  --expo-color-green1: var(--green1);
  --expo-color-green2: var(--green2);
  --expo-color-green3: var(--green3);
  --expo-color-green4: var(--green4);
  --expo-color-green5: var(--green5);
  --expo-color-green6: var(--green6);
  --expo-color-green7: var(--green7);
  --expo-color-green8: var(--green8);
  --expo-color-green9: var(--green9);
  --expo-color-green10: var(--green10);
  --expo-color-green11: var(--green11);
  --expo-color-green12: var(--green12);
  --expo-color-yellow1: var(--yellow1);
  --expo-color-yellow2: var(--yellow2);
  --expo-color-yellow3: var(--yellow3);
  --expo-color-yellow4: var(--yellow4);
  --expo-color-yellow5: var(--yellow5);
  --expo-color-yellow6: var(--yellow6);
  --expo-color-yellow7: var(--yellow7);
  --expo-color-yellow8: var(--yellow8);
  --expo-color-yellow9: var(--yellow9);
  --expo-color-yellow10: var(--yellow10);
  --expo-color-yellow11: var(--yellow11);
  --expo-color-yellow12: var(--yellow12);
  --expo-color-red1: var(--red1);
  --expo-color-red2: var(--red2);
  --expo-color-red3: var(--red3);
  --expo-color-red4: var(--red4);
  --expo-color-red5: var(--red5);
  --expo-color-red6: var(--red6);
  --expo-color-red7: var(--red7);
  --expo-color-red8: var(--red8);
  --expo-color-red9: var(--red9);
  --expo-color-red10: var(--red10);
  --expo-color-red11: var(--red11);
  --expo-color-red12: var(--red12);
  --expo-color-blue1: var(--blue1);
  --expo-color-blue2: var(--blue2);
  --expo-color-blue3: var(--blue3);
  --expo-color-blue4: var(--blue4);
  --expo-color-blue5: var(--blue5);
  --expo-color-blue6: var(--blue6);
  --expo-color-blue7: var(--blue7);
  --expo-color-blue8: var(--blue8);
  --expo-color-blue9: var(--blue9);
  --expo-color-blue10: var(--blue10);
  --expo-color-blue11: var(--blue11);
  --expo-color-blue12: var(--blue12);
  --expo-color-gray1: var(--slate1);
  --expo-color-gray2: var(--slate2);
  --expo-color-gray3: var(--slate3);
  --expo-color-gray4: var(--slate4);
  --expo-color-gray5: var(--slate5);
  --expo-color-gray6: var(--slate6);
  --expo-color-gray7: var(--slate7);
  --expo-color-gray8: var(--slate8);
  --expo-color-gray9: var(--slate9);
  --expo-color-gray10: var(--slate10);
  --expo-color-gray11: var(--slate11);
  --expo-color-gray12: var(--slate12);

  /* Statuses */
  --expo-theme-success-background: var(--green3);
  --expo-theme-success-border: var(--green7);
  --expo-theme-success-icon: var(--green10);
  --expo-theme-success-text: var(--green11);

  --expo-theme-warning-background: var(--yellow3);
  --expo-theme-warning-border: var(--yellow7);
  --expo-theme-warning-icon: var(--yellow11);
  --expo-theme-warning-text: var(--yellow11);

  --expo-theme-danger-background: var(--red3);
  --expo-theme-danger-border: var(--red7);
  --expo-theme-danger-icon: var(--red10);
  --expo-theme-danger-text: var(--red11);

  --expo-theme-info-background: var(--blue3);
  --expo-theme-info-border: var(--blue7);
  --expo-theme-info-icon: var(--blue10);
  --expo-theme-info-text: var(--blue11);

  /* Buttons */
  --expo-theme-button-primary-background: var(--blue10);
  --expo-theme-button-primary-border: var(--blue10);
  --expo-theme-button-primary-hover: var(--blue11);
  --expo-theme-button-primary-icon: var(--blue3);
  --expo-theme-button-primary-text: var(--expo-color-white);
  --expo-theme-button-primary-disabled-background: var(--blue7);
  --expo-theme-button-primary-disabled-border: var(--blue7);
  --expo-theme-button-primary-disabled-text: var(--expo-color-white);

  --expo-theme-button-secondary-background: var(--expo-color-white);
  --expo-theme-button-secondary-border: var(--slate7);
  --expo-theme-button-secondary-hover: var(--slate10);
  --expo-theme-button-secondary-icon: var(--slate2);
  --expo-theme-button-secondary-text: var(--slate11);
  --expo-theme-button-secondary-disabled-background: var(--expo-color-white);
  --expo-theme-button-secondary-disabled-border: var(--slate6);
  --expo-theme-button-secondary-disabled-text: var(--slate9);

  --expo-theme-button-tertiary-background: transparent;
  --expo-theme-button-tertiary-border: transparent;
  --expo-theme-button-tertiary-hover: var(--blue4);
  --expo-theme-button-tertiary-icon: var(--blue9);
  --expo-theme-button-tertiary-text: var(--blue10);
  --expo-theme-button-tertiary-disabled-background: transparent;
  --expo-theme-button-tertiary-disabled-border: transparent;
  --expo-theme-button-tertiary-disabled-text: var(--blue7);

  --expo-theme-button-quaternary-background: transparent;
  --expo-theme-button-quaternary-border: transparent;
  --expo-theme-button-quaternary-hover: var(--slate4);
  --expo-theme-button-quaternary-icon: var(--slate10);
  --expo-theme-button-quaternary-text: var(--slate11);
  --expo-theme-button-quaternary-disabled-background: transparent;
  --expo-theme-button-quaternary-disabled-border: transparent;
  --expo-theme-button-quaternary-disabled-text: var(--slate9);

  --expo-theme-button-primary-destructive-background: var(--red10);
  --expo-theme-button-primary-destructive-border: var(--red10);
  --expo-theme-button-primary-destructive-hover: var(--red11);
  --expo-theme-button-primary-destructive-icon: var(--red3);
  --expo-theme-button-primary-destructive-text: var(--expo-color-white);
  --expo-theme-button-primary-destructive-disabled-background: var(--red7);
  --expo-theme-button-primary-destructive-disabled-border: var(--red7);
  --expo-theme-button-primary-destructive-disabled-text: var(--expo-color-white);

  --expo-theme-button-secondary-destructive-background: var(--expo-color-white);
  --expo-theme-button-secondary-destructive-border: var(--red7);
  --expo-theme-button-secondary-destructive-hover: var(--red3);
  --expo-theme-button-secondary-destructive-icon: var(--red9);
  --expo-theme-button-secondary-destructive-text: var(--red11);
  --expo-theme-button-secondary-destructive-disabled-background: var(--expo-color-white);
  --expo-theme-button-secondary-destructive-disabled-border: var(--red5);
  --expo-theme-button-secondary-destructive-disabled-text: var(--red8);

  /* Backgrounds */
  --expo-theme-background-default: var(--expo-color-white);
  --expo-theme-background-screen: var(--slate1);
  --expo-theme-background-subtle: var(--slate2);
  --expo-theme-background-element: var(--slate3);
  --expo-theme-background-hover: var(--slate4);
  --expo-theme-background-selected: var(--slate5);
  --expo-theme-background-overlay: var(--expo-color-white);

  /* Icons */
  --expo-theme-icon-default: var(--slate11);
  --expo-theme-icon-secondary: var(--slate10);
  --expo-theme-icon-tertiary: var(--slate9);
  --expo-theme-icon-quarternary: var(--slate8);

  /* Text */
  --expo-theme-text-default: var(--slate12);
  --expo-theme-text-secondary: var(--slate11);
  --expo-theme-text-tertiary: var(--slate10);
  --expo-theme-text-quarternary: var(--slate9);
  --expo-theme-text-link: var(--blue10);

  /* Borders */
  --expo-theme-border-default: var(--slate7);
  --expo-theme-border-secondary: var(--slate6);

  /* Project icon backgrounds */
  --expo-theme-project-blue: linear-gradient(#81b2eb, #6299d9);
  --expo-theme-project-green: linear-gradient(#6eb87f, #54a767);
  --expo-theme-project-yellow: linear-gradient(#edcd5f, #e5c145);
  --expo-theme-project-orange: linear-gradient(#eb9f6a, #d9864c);
  --expo-theme-project-red: linear-gradient(#eb7171, #d95757);
  --expo-theme-project-pink: linear-gradient(#eb8dc5, #d977b2);
  --expo-theme-project-purple: linear-gradient(#a687e0, #8a66cc);

  /* Light shadows */
  --expo-theme-shadows-xs: 0 1px 3px rgba(0, 0, 0, 0.025),
    0 1px 2px rgba(0, 0, 0, 0.05);
  --expo-theme-shadows-sm: 0 3px 6px rgba(0, 0, 0, 0.08),
    0 2px 4px rgba(0, 0, 0, 0.07);
  --expo-theme-shadows-md: 0 10px 20px rgba(0, 0, 0, 0.1),
    0 3px 6px rgba(0, 0, 0, 0.05);
  --expo-theme-shadows-lg: 0 15px 25px rgba(0, 0, 0, 0.12),
    0 5px 10px rgba(0, 0, 0, 0.05);
  --expo-theme-shadows-xl: 0 20px 40px rgba(0, 0, 0, 0.15);

  /* Heading Font sizing */
  --expo-theme-heading-base-font-size: 12px;
}

.dark-theme {
  /* Colors */
  --expo-color-green1: var(--greenDark1);
  --expo-color-green2: var(--greenDark2);
  --expo-color-green3: var(--greenDark3);
  --expo-color-green4: var(--greenDark4);
  --expo-color-green5: var(--greenDark5);
  --expo-color-green6: var(--greenDark6);
  --expo-color-green7: var(--greenDark7);
  --expo-color-green8: var(--greenDark8);
  --expo-color-green9: var(--greenDark9);
  --expo-color-green10: var(--greenDark10);
  --expo-color-green11: var(--greenDark11);
  --expo-color-green12: var(--greenDark12);
  --expo-color-yellow1: var(--yellowDark1);
  --expo-color-yellow2: var(--yellowDark2);
  --expo-color-yellow3: var(--yellowDark3);
  --expo-color-yellow4: var(--yellowDark4);
  --expo-color-yellow5: var(--yellowDark5);
  --expo-color-yellow6: var(--yellowDark6);
  --expo-color-yellow7: var(--yellowDark7);
  --expo-color-yellow8: var(--yellowDark8);
  --expo-color-yellow9: var(--yellowDark9);
  --expo-color-yellow10: var(--yellowDark10);
  --expo-color-yellow11: var(--yellowDark11);
  --expo-color-yellow12: var(--yellowDark12);
  --expo-color-red1: var(--redDark1);
  --expo-color-red2: var(--redDark2);
  --expo-color-red3: var(--redDark3);
  --expo-color-red4: var(--redDark4);
  --expo-color-red5: var(--redDark5);
  --expo-color-red6: var(--redDark6);
  --expo-color-red7: var(--redDark7);
  --expo-color-red8: var(--redDark8);
  --expo-color-red9: var(--redDark9);
  --expo-color-red10: var(--redDark10);
  --expo-color-red11: var(--redDark11);
  --expo-color-red12: var(--redDark12);
  --expo-color-blue1: var(--blueDark1);
  --expo-color-blue2: var(--blueDark2);
  --expo-color-blue3: var(--blueDark3);
  --expo-color-blue4: var(--blueDark4);
  --expo-color-blue5: var(--blueDark5);
  --expo-color-blue6: var(--blueDark6);
  --expo-color-blue7: var(--blueDark7);
  --expo-color-blue8: var(--blueDark8);
  --expo-color-blue9: var(--blueDark9);
  --expo-color-blue10: var(--blueDark10);
  --expo-color-blue11: var(--blueDark11);
  --expo-color-blue12: var(--blueDark12);
  --expo-color-gray1: var(--slateDark1);
  --expo-color-gray2: var(--slateDark2);
  --expo-color-gray3: var(--slateDark3);
  --expo-color-gray4: var(--slateDark4);
  --expo-color-gray5: var(--slateDark5);
  --expo-color-gray6: var(--slateDark6);
  --expo-color-gray7: var(--slateDark7);
  --expo-color-gray8: var(--slateDark8);
  --expo-color-gray9: var(--slateDark9);
  --expo-color-gray10: var(--slateDark10);
  --expo-color-gray11: var(--slateDark11);
  --expo-color-gray12: var(--slateDark12);

  /* Statuses */
  --expo-theme-success-background: var(--green3);
  --expo-theme-success-border: var(--green7);
  --expo-theme-success-icon: var(--green10);
  --expo-theme-success-text: var(--green11);

  --expo-theme-warning-background: var(--yellow3);
  --expo-theme-warning-border: var(--yellow7);
  --expo-theme-warning-icon: var(--yellow11);
  --expo-theme-warning-text: var(--yellow11);

  --expo-theme-danger-background: var(--red3);
  --expo-theme-danger-border: var(--red7);
  --expo-theme-danger-icon: var(--red10);
  --expo-theme-danger-text: var(--red11);

  --expo-theme-info-background: var(--blue3);
  --expo-theme-info-border: var(--blue7);
  --expo-theme-info-icon: var(--blue10);
  --expo-theme-info-text: var(--blue11);

  /* Buttons */
  --expo-theme-button-primary-background: var(--blue10);
  --expo-theme-button-primary-border: var(--blue10);
  --expo-theme-button-primary-hover: var(--blue9);
  --expo-theme-button-primary-icon: var(--blue3);
  --expo-theme-button-primary-text: var(--expo-color-black);
  --expo-theme-button-primary-disabled-background: var(--blue8);
  --expo-theme-button-primary-disabled-border: var(--blue8);
  --expo-theme-button-primary-disabled-text: var(--expo-color-black);

  --expo-theme-button-secondary-background: var(--slate2);
  --expo-theme-button-secondary-border: var(--slate7);
  --expo-theme-button-secondary-hover: var(--slate3);
  --expo-theme-button-secondary-icon: var(--slate10);
  --expo-theme-button-secondary-text: var(--slate11);
  --expo-theme-button-secondary-disabled-background: var(--slate1);
  --expo-theme-button-secondary-disabled-border: var(--slate6);
  --expo-theme-button-secondary-disabled-text: var(--slate9);

  --expo-theme-button-tertiary-background: transparent;
  --expo-theme-button-tertiary-border: transparent;
  --expo-theme-button-tertiary-hover: var(--blue4);
  --expo-theme-button-tertiary-icon: var(--blue10);
  --expo-theme-button-tertiary-text: var(--blue11);
  --expo-theme-button-tertiary-disabled-background: transparent;
  --expo-theme-button-tertiary-disabled-border: transparent;
  --expo-theme-button-tertiary-disabled-text: var(--blue8);

  --expo-theme-button-quaternary-background: transparent;
  --expo-theme-button-quaternary-border: transparent;
  --expo-theme-button-quaternary-hover: var(--slate4);
  --expo-theme-button-quaternary-icon: var(--slate10);
  --expo-theme-button-quaternary-text: var(--slate11);
  --expo-theme-button-quaternary-disabled-background: transparent;
  --expo-theme-button-quaternary-disabled-border: transparent;
  --expo-theme-button-quaternary-disabled-text: var(--slate9);

  --expo-theme-button-primary-destructive-background: var(--red10);
  --expo-theme-button-primary-destructive-border: var(--red10);
  --expo-theme-button-primary-destructive-hover: var(--red9);
  --expo-theme-button-primary-destructive-icon: var(--red3);
  --expo-theme-button-primary-destructive-text: var(--expo-color-black);
  --expo-theme-button-primary-destructive-disabled-background: var(--red7);
  --expo-theme-button-primary-destructive-disabled-border: var(--red7);
  --expo-theme-button-primary-destructive-disabled-text: var(--expo-color-black);

  --expo-theme-button-secondary-destructive-background: var(--slate2);
  --expo-theme-button-secondary-destructive-border: var(--red7);
  --expo-theme-button-secondary-destructive-hover: var(--red3);
  --expo-theme-button-secondary-destructive-icon: var(--red9);
  --expo-theme-button-secondary-destructive-text: var(--red11);
  --expo-theme-button-secondary-destructive-disabled-background: var(--slate2);
  --expo-theme-button-secondary-destructive-disabled-border: var(--red5);
  --expo-theme-button-secondary-destructive-disabled-text: var(--red8);

  /* Backgrounds */
  --expo-theme-background-default: var(--slate1);
  --expo-theme-background-screen: var(--expo-color-black);
  --expo-theme-background-subtle: var(--slate2);
  --expo-theme-background-element: var(--slate3);
  --expo-theme-background-hover: var(--slate4);
  --expo-theme-background-selected: var(--slate5);
  --expo-theme-background-overlay: var(--slate2);

  /* Icons */
  --expo-theme-icon-default: var(--slate11);
  --expo-theme-icon-secondary: var(--slate10);
  --expo-theme-icon-tertiary: var(--slate9);
  --expo-theme-icon-quarternary: var(--slate8);

  /* Text */
  --expo-theme-text-default: var(--slate12);
  --expo-theme-text-secondary: var(--slate11);
  --expo-theme-text-tertiary: var(--slate10);
  --expo-theme-text-quarternary: var(--slate9);
  --expo-theme-text-link: var(--blue10);

  /* Borders */
  --expo-theme-border-default: var(--slate7);
  --expo-theme-border-secondary: var(--slate6);

  /* Project icon backgrounds */
  --expo-theme-project-blue: linear-gradient(#537296, #395a80);
  --expo-theme-project-green: linear-gradient(#4b7d56, #32633d);
  --expo-theme-project-yellow: linear-gradient(#a67f35, #8a6319);
  --expo-theme-project-orange: linear-gradient(#ab744d, #8c5731);
  --expo-theme-project-red: linear-gradient(#b25656, #8c3838);
  --expo-theme-project-pink: linear-gradient(#995c81, #8a4c71);
  --expo-theme-project-purple: linear-gradient(#715c99, #4e3973);

  /* Dark shadows */
  --expo-theme-shadows-xs: 0 1px 3px rgba(0, 0, 0, 0.3),
    0 1px 2px rgba(0, 0, 0, 0.3);
  --expo-theme-shadows-sm: 0 3px 6px rgba(0, 0, 0, 0.4),
    0 2px 4px rgba(0, 0, 0, 0.25);
  --expo-theme-shadows-md: 0 10px 20px rgba(0, 0, 0, 0.25),
    0 3px 6px rgba(0, 0, 0, 0.25);
  --expo-theme-shadows-lg: 0 15px 25px rgba(0, 0, 0, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.25);
  --expo-theme-shadows-xl: 0 20px 40px rgba(0, 0, 0, 0.5);
}

@media (min-width: 401px) {
  :root {
    --expo-theme-heading-base-font-size: 14px;
  }
}

@media (min-width: 901px) {
  :root {
    --expo-theme-heading-base-font-size: 16px;
  }
}
